<div class="header formgrid grid">
  <app-custom-card title="Repositorios" [value]="_repositorys" backgroundColor="#1E1E2F" class="col-12 md:col-4"></app-custom-card>
  <app-custom-card title="Relatórios" [value]="_reports"  backgroundColor="#2B2B3C" class="col-12 md:col-4"></app-custom-card>
  <app-custom-card title="Relatórios gerados" [value]="_totalGenerated" backgroundColor="#383850" class="col-12 md:col-4"></app-custom-card>
</div>
<div class="repository">
  <div class="repositories">
    <div class="field space col-12 md:col-12">
      <div class="text-repository">
        Repositórios
      </div>
      <div class="cursor" (click)="menu.toggle($event)">
        <p-menu #menu [model]="repository" [popup]="true" />
        <i class="pi pi-ellipsis-v"></i>
      </div>
    </div>
    <app-input-text
      label="Buscar"
      class="field col-12 md:col-12">
    </app-input-text>
    <div class="container-list-repository">
      <app-repository-item
        (deleteItem)="onDeleteRepository($event)"
        [repositorys]="repositoryConfig.repositoryes"
        (selectedItem)="onSelectedItem($event)">
      </app-repository-item>
    </div>

    </div>

  <div class="reports">
    <div class="space report-headers">
      <div class="text-repository">
        {{ _currentReposrt?.name || "" }}
      </div>
      <div class="flex">
        <div style="margin-right: 5px" class="cursor">
          <i class="pi pi-search"></i>
        </div>
        <div class="cursor" (click)="repo.toggle($event)">
          <p-menu #repo [model]="reports" [popup]="true" />
          <i class="pi pi-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <div class="list-report">
      <app-repository-item
        (deleteItem)="onDeleteReport($event)"
        [repositorys]="repositoryConfig.reports"
        (selectedItem)="onSelectedReport($event)">
      </app-repository-item>
    </div>
  </div>
</div>
