<div class="header">
  Aqui é o header com informações do token e documentação
</div>
<div class="repository">
  <div class="repositories">
    <div class="field space col-12 md:col-12">
      <div class="text-repository">
        Repositorios
      </div>
      <div class="cursor" (click)="menu.toggle($event)">
        <p-menu #menu [model]="repository" [popup]="true" />
        <i class="pi pi-ellipsis-v"></i>
      </div>
    </div>
    <app-input-text
      label="Buscar"
      class="field col-12 md:col-12">
    </app-input-text>
    <div class="container-list-repository">
      <app-repository-item
        [repositorys]="repositoryConfig.repositoryes"
        (selectedItem)="onSelectedItem($event)">
      </app-repository-item>
    </div>

    </div>

  <div class="reports">
    <div class="space report-headers">
      <div class="text-repository">
        SmartVerse
      </div>
      <div class="flex">
        <div class="cursor">
          <i class="pi pi-search"></i>
        </div>
        <div class="cursor" (click)="repo.toggle($event)">
          <p-menu #repo [model]="reports" [popup]="true" />
          <i class="pi pi-ellipsis-v"></i>
        </div>
      </div>
    </div>
    <div class="list-report">
      <app-repository-item
        [repositorys]="repositoryConfig.reports"
        (selectedItem)="onSelectedReport($event)">
      </app-repository-item>
    </div>
  </div>
</div>
