.list-view{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #18181B;
  margin-bottom: 5px;
  height: 60px;
  border-radius: 7px;
  cursor: pointer;
}
.list-view:hover{
  background-color: #3b3b40;
}
.item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
