<div>
  <div class="container-image">
    @if (!imageUrl) {
      <div (click)="onFileInput()" class="image-container">Selecione uma imagen</div>
    }
    @if (imageUrl) {
      <img class="image-container" [src]="imageUrl">
    }
  </div>
  <input type="file" (change)="onImageSelect($event)" accept="image/*" id="fileInput" class="file-input" />
  <div class="btn">
    <button
      (click)="onFileInput()"
      type="button"
      pButton
      pRipple
      icon="pi pi-upload">
    </button>
    <button
      (click)="onDeleteImage()"
      type="button"
      pButton
      pRipple
      icon="pi pi-trash">
    </button>
  </div>
</div>
