.home-header{
  top: 0;
  height: 50px;
  width: 100%;
  background-color: var(--custom-primary-color);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  .logo{
    font-size: 30px;
  }
  .headers-btn{
    cursor: pointer;
  }
}
.content{
  padding: 10px;
  height: calc(100% - 50px);
  overflow: auto;
}
