<div class="studio">
  <div class="header">
    <p-button (onClick)="onSave()">{{ translateService.translate('common_save') }}</p-button>
    <p-button (onClick)="onSave(true)">{{ translateService.translate('common_preview') }}</p-button>
  </div>
  <div class="body">
    <p-splitter
      [panelSizes]="[20, 80]"
      [style]="{ height: '100%' }"
      styleClass="mb-5">
      <ng-template pTemplate>
        <div class="tree">
          <p-tree
            [value]="tree"
            selectionMode="single"
            [(selection)]="selected"
            (onNodeSelect)="nodeSelect($event)"
            class="w-full md:w-30rem" />
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="content">
          <ng-content *ngTemplateOutlet="currentTemplate"></ng-content>
        </div>
      </ng-template>
    </p-splitter>
  </div>
</div>

<ng-template #tJson>
  <ngx-monaco-editor style="height: 100%; width: 100%"
                     [(ngModel)]="json"
                     [options]="editorJson"
  ></ngx-monaco-editor>
</ng-template>

<ng-template #tHtml>
  <ngx-monaco-editor style="height: 100%; width: 100%"
                     [(ngModel)]="html"
                     [options]="editorHtml"
  ></ngx-monaco-editor>
</ng-template>

<ng-template #tCss>
  <ngx-monaco-editor style="height: 100%; width: 100%"
                     [(ngModel)]="css"
                     [options]="editorCss"
  ></ngx-monaco-editor>
</ng-template>

<ng-template #tJs>
  <ngx-monaco-editor style="height: 100%; width: 100%"
                     [(ngModel)]="js"
                     [options]="editorJs"
  ></ngx-monaco-editor>
</ng-template>


