
.datatable{
  height: calc(90% - 20px);
    .btnsp{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
  .table{
    max-height: 80%;
    overflow: auto;
  }
}
.filter {
    .btn-tx{
        text-align: center;
        width: 100%;
    }
}
.summary{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.actions{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
