<div [formGroup]="formGroup">
  <div class="formgrid grid">
    <app-input-text
      formControlName="name"
      name="name"
      [field]="formGroup"
      class="field col-12 md:col-12 c-margin"
      [label]="translateService.translate('common_description_report')"
      type="text">
    </app-input-text>
  </div>
</div>
<div class="buttons">
  <div style="margin-right: 10px">
    <p-button  [label]="translateService.translate('common_cancel')" (onClick)="onClose()"/>
  </div>
  <div>
    <p-button  [label]="translateService.translate('common_save')" (onClick)="onSave()"/>
  </div>
</div>
